<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.12.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.11.0" targetFramework="net45" />
  <package id="Unity" version="5.3.2" targetFramework="net45" />
</packages>